<!DOCTYPE html>
<html>
  <head>
    <title>MusicBand</title>
      <link rel="icon" type="image/png" href="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/black_edupictnote_1484335227-1.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
